MONGO_INITDB_ROOT_PASSWORD=*
MONGO_INITDB_ROOT_USERNAME=*
MONGO_PORT=27017
MONGO_SERVICENAME=mongo
ME_CONFIG_MONGODB_AUTH_DATABASE=*
ME_CONFIG_MONGODB_AUTH_USERNAME=*
ME_CONFIG_MONGODB_AUTH_PASSWORD=*
ME_CONFIG_MONGODB_URL="mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_SERVICENAME}:${MONGO_PORT}"
NODE_ENV=production
